@page "/recipe/create"
<h3>RecipeCreate</h3>
<EditForm Model="@recipe" OnValidSubmit="CreateRecipe">
    <DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Title" HelperText="The name of the recipe" @bind-Value="recipe.Name" For="@(()=> recipe.Name)" />
            <MudTextField Label="Description" HelperText="The description of the recipe" @bind-Value="recipe.Description" For="@(()=> recipe.Description)" />
            <MudTextField Label="Source" HelperText="Where did you get the recipe?  (if its personal, leave blank)" @bind-Value="recipe.RecipeSource" For="@(()=> recipe.RecipeSource)" />
            <MudTextField Label="Source Link" HelperText="Link to the page you found this recipe on" @bind-Value="recipe.RecipeSourceUrl" For="@(()=> recipe.RecipeSourceUrl)" />
            <MudNumericField Label="Cooking Time" HelperText="Estimated minutes to cook recipe" @bind-Value="recipe.CookingTime" For="@(()=> recipe.CookingTime)" />
            <MudNumericField Label="Servings" HelperText="How many people the recipe Serves" @bind-Value="recipe.Servings" For="@(()=> recipe.Servings)" />
            @if (Types == null)
            {
                <p>loading...</p>}
            else
            {
                <MudSelect @bind-Value="recipe.TypeId" T="int" Label="RecipeType">
                    @foreach (RecipeType type in Types)
                    {
                        <MudSelectItem Value="@type.Id">@type.Name</MudSelectItem>
                    }
                </MudSelect>
            }
        </MudCardContent>
    </MudCard>
    
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Image:</label>
                @*<InputFile @bind-Value="imageFile" class="form-control" />*@
                <p>Image will be cropped down to 128x128, distortion may occur.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="col-form-label">Ingredients</label>
                <button @onclick="()=>recipe.Ingredients.Add(new())" class="btn btn-success">Add Ingredient</button>
                @foreach (var ingredient in recipe.Ingredients)
                {
                    @*<QIngredientCreate qIngredient="@ingredient" />*@
                    <button class="btn btn-danger" @onclick="(()=>recipe.Ingredients.Remove(ingredient))">Remove</button>
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Supplies</label>
                <ul>
                    @foreach (var supply in recipe.Supplies)
                    {
                        <li>

                            @*<SupplyPicker supply="@supply" />*@
                            <button class="btn btn-danger" @onclick="(()=>recipe.Supplies.Remove(supply))">Remove</button>
                        </li>
                    }
                </ul>
                <button @onclick="()=> recipe.Supplies.Add(new())" class="btn btn-success">Add Supply</button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Steps</label>
                <ol>
                    @foreach (var step in recipe.Steps)
                    {
                        <li>
                            <InputTextArea @bind-Value="step.Text" class="form-control"></InputTextArea>
                            @*<StepInput />*@
                            <button class="btn btn-danger" @onclick="(()=>recipe.Steps.Remove(step))">Remove</button>
                        </li>
                    }
                </ol>

                <button @onclick="()=>recipe.Steps.Add(new())" class="btn btn-success">Add Step</button>
            </div>
        </div>
    </div>

</EditForm>

@code {
    public Recipe recipe { get; set; } = new();
    public List<RecipeType> Types { get; set; }
    public void CreateRecipe()
    {
        throw new NotImplementedException();
    }
}
