@page "/recipes/{mine?}"
@using MasterMealWA.Client.Models
@inject HttpClient Http
@inject IApiService _api
@inject NavigationManager nav
@inject IDialogService _dialogService
@inject ISnackbar snackbar
@inject IImageReader _imageReader
@inject IUserService _userService
@inject IFilterService _filterService
@attribute [AllowAnonymous]

<MudItem xs="12" md="3">
    <AuthorizeView Roles="Admin, Moderator">
        <Authorized>
            <MudButton @onclick='()=>nav.NavigateTo("/recipes/types")'>Manage Recipe Types</MudButton>
        </Authorized>
    </AuthorizeView>
    <MudFab Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Label="Add Recipe" aria-label="add recipe" @onclick='()=>nav.NavigateTo("/recipes/create")' />
    <MudPaper Class="py-3" Square="true">
        <MudForm Model="Filters" IsTouchedChanged="()=>FilterRecipes()">

            <MudExpansionPanels MultiExpansion="true" Elevation="2">

                <MudExpansionPanel Text="Author" IsInitiallyExpanded="true">
                    <MudSwitch Color="Color.Primary" Label="Only My Recipes" @bind-Checked="myRecipes" Disabled="@string.IsNullOrEmpty(userId)"/>
                </MudExpansionPanel>
                <MudExpansionPanel Text="Supplies" IsInitiallyExpanded="true">
                    <MudSwitch Disabled="@string.IsNullOrEmpty(userId)" Color="Color.Primary" Label="I have Supplies" @bind-Checked="                , -1,
#nullable restore
#line 26 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                            myRecipes"/>
                </MudExpansionPanel>
                @if (!Loaded)
                {
                    <Loader/>
                }
                else
                {

            <MudExpansionPanel Text="Nationality" IsInitiallyExpanded="true">
                <MudChipSet MultiSelection="true" Filter="true" @bind-SelectedChips="Filters.NationalityChips">
                    @foreach (var category in RecipeTypes.Where(t => t.Category == CategoryType.Nationality))
                    {

                        <MudChip Color="@BadgeColor(category.Category)" Text="@category.Name"></MudChip>
                    }
                </MudChipSet>
                <MudSwitch Color="Color.Primary" Label="Must have all selected Nationalities" @bind-Checked="Filters.HasAllNationalities"/>
            </MudExpansionPanel>
                    <MudExpansionPanel Text="Protein Types" IsInitiallyExpanded="true">
                        <MudChipSet MultiSelection="true" Filter="true"@bind-SelectedChips="Filters.ProteinChips">
                            @foreach (var category in RecipeTypes.Where(t => t.Category == CategoryType.Protein))
                            {

                                <MudChip Color="@BadgeColor(category.Category)" Text="@category.Name"></MudChip>
                            }
                        </MudChipSet>
                        <MudSwitch Color="Color.Primary" Label="Must have all selected proteins" @bind-Checked="Filters.HasAllProteins"/>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Other Categories" IsInitiallyExpanded="true">
                        <MudChipSet MultiSelection="true" Filter="true" @bind-SelectedChips="Filters.TypeChips">
                            @foreach (var category in RecipeTypes.Where(t => t.Category == CategoryType.Type))
                            {

                                <MudChip Color="@BadgeColor(category.Category)" Text="@category.Name"></MudChip>
                            }
                        </MudChipSet>
                        <MudSwitch Color="Color.Primary" Label="Must have all types" @bind-Checked="Filters.HasAllTypes"/>
                    </MudExpansionPanel>
                }
                <MudExpansionPanel Text="Rating" IsInitiallyExpanded="true">
                    <div class="d-flex flex-column align-center">
                        <MudRating Color="Color.Secondary" @bind-SelectedValue="Filters.LowestRating" HoveredValueChanged="HandleHoveredValueChanged" />
                        <MudText Typo="Typo.subtitle2" Class="mt-2">@RatingText</MudText>
                    </div>



                </MudExpansionPanel>
                <MudExpansionPanel Text="CookingTime" IsInitiallyExpanded="true">
                    <MudSwitch Color="Color.Primary" Label="FilterByTime" @bind-Checked="Filters.CookingTime"></MudSwitch>

                    <MudItem xs="12">
                        <MudNumericField Disabled="@Filters.CookingTime" @bind-Value="Filters.MinCookingTime" Label="Min Cooking Time" Variant="Variant.Text" Min="0" Max="90" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudNumericField Disabled="@Filters.CookingTime" @bind-Value="Filters.MaxCookingTime" Label="Max cooking time" Variant="Variant.Text" Min="0" Max="90" />
                    </MudItem>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudForm>
    </MudPaper>
</MudItem>

<MudItem xs="12" md="9">
    @if (!Loaded)
        <Loader></Loader>


    }
    else
    {
        <MudGrid>
            @if (FilteredRecipes.Count == 0)
            {
                <MudText Typo="Typo.h3">No Recipes were found, please select a less restrictive filter.</MudText>
            }
            @foreach (var recipe in pageRecipes)
            {
                <MudItem xs="12" md="4">

                    <MudCard Elevation="2">
                        <MudCardMedia Image="@(_imageReader.ReadImageData(recipe.Image.ImageData, recipe.Image.ContentType))"></MudCardMedia>
                        <MudCardContent>

                            <MudText>@recipe.Name</MudText>
                            <MudText Typo="Typo.caption">@recipe.Author.ScreenName</MudText>
                            <MudText>Cooking time: @recipe.CookingTime</MudText>
                            <MudText>Servings: @recipe.Servings</MudText>
                            @if (recipe.Ratings.Count > 1)
                            {

                                <MudRating ReadOnly="true" SelectedValue="@Convert.ToInt32(recipe.AvgRating)"></MudRating>
                            }
                            @if (!string.IsNullOrWhiteSpace(recipe.RecipeSource))
                            {
                                @if (!string.IsNullOrWhiteSpace(recipe.RecipeSourceUrl))
                                {
                                    <MudText>
                                        Source:

                                        <MudLink Href="@recipe.RecipeSourceUrl">@recipe.RecipeSource</MudLink>
                                    </MudText>
                                }
                                else
                                {
                                    <MudText>Source: @recipe.RecipeSource</MudText>
                                }
                            }
                        </MudCardContent>
                        <MudCardActions>
                            @if (userId == recipe.AuthorId)
                            {

                                <MudIconButton Variant="Variant.Filled" Color="Color.Warning" Icon="@Icons.Material.Filled.Edit" Link=@($"/recipes/edit/{recipe.Id}")></MudIconButton>
                                <MudIconButton Variant="Variant.Filled" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" OnClick="()=>DeleteRecipe(recipe)"></MudIconButton>
                                <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.CalendarToday" OnClick="@(()=>AddMeal(recipe))"></MudIconButton>
                            }
                            else
                            {
                                <AuthorizeView Roles="Admin, Moderator">
                                    <Authorized>
                                        <MudIconButton Variant="Variant.Filled" Color="Color.Warning" Icon="@Icons.Material.Filled.Edit" Link=@($"/recipes/edit/{recipe.Id}")></MudIconButton>
                                        <MudIconButton Variant="Variant.Filled" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" OnClick="()=>DeleteRecipe(recipe)"></MudIconButton>
                                        @*<MudIconButton Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.CalendarToday" OnClick="@(()=>AddMeal(recipe))"></MudIconButton>*@
                                    </Authorized>
                                </AuthorizeView>
                                <AuthorizeView>
                                    <Authorized>

                                        <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.CalendarToday" OnClick="@(()=>AddMeal(recipe))"></MudIconButton>
                                    </Authorized>
                                </AuthorizeView>
                            }
                            <MudLink Href="@($"/recipes/details/{recipe.Id}")">Details</MudLink>
                        </MudCardActions>
                    </MudCard>
                </MudItem>

            }
        </MudGrid>
    }
    <MudDivider></MudDivider>
    <MudPagination Rectangular="true" Variant="Variant.Text" SelectedChanged="(int p)=>ChangePage(p)" Count="@pageCount" />
</MudItem>
@code {
        [Parameter]
        public string mine { get; set; }
        public Filter Filters { get; set; } = new();
#nullable restore
#line 79 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
        __o = typeof(MudSwitch<>);

#line default
#line hidden
#nullable disable
                                __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 81 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                 12

#line default
#line hidden
#nullable disable
                                );
                                __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                    __Blazor.MasterMealWA.Client.Pages.RecipePages.RecipeIndex.TypeInference.CreateMudNumericField_6(__builder7, -1, -1, 
#nullable restore
#line 82 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                    Filters.CookingTime

#line default
#line hidden
#nullable disable
                                    , -1, "", -1, 
#nullable restore
#line 82 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                Variant.Text

#line default
#line hidden
#nullable disable
                                    , -1, 
#nullable restore
#line 82 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                                   0

#line default
#line hidden
#nullable disable
                                    , -1, 
#nullable restore
#line 82 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                                           90

#line default
#line hidden
#nullable disable
                                    , -1, 
#nullable restore
#line 82 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                      Filters.MinCookingTime

#line default
#line hidden
#nullable disable
                                    , -1, Microsoft.AspNetCore.Components.EventCallback.Factory.Create(this,
                                    Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.CreateInferredEventCallback(this, __value => Filters.MinCookingTime = __value, Filters.MinCookingTime)));
#nullable restore
#line 82 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
        __o = typeof(MudNumericField<>);

#line default
#line hidden
#nullable disable
        }
                                ));
#nullable restore
#line 81 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
__o = typeof(MudItem);

#line default
#line hidden
#nullable disable
                                __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 84 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                 12

#line default
#line hidden
#nullable disable
                                );
                                __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                    __Blazor.MasterMealWA.Client.Pages.RecipePages.RecipeIndex.TypeInference.CreateMudNumericField_7(__builder7, -1, -1, 
#nullable restore
#line 85 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                    Filters.CookingTime

#line default
#line hidden
#nullable disable
                                    , -1, "", -1, 
#nullable restore
#line 85 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                Variant.Text

#line default
#line hidden
#nullable disable
                                    , -1, 
#nullable restore
#line 85 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                                   0

#line default
#line hidden
#nullable disable
                                    , -1, 
#nullable restore
#line 85 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                                           90

#line default
#line hidden
#nullable disable
                                    , -1, 
#nullable restore
#line 85 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                      Filters.MaxCookingTime

#line default
#line hidden
#nullable disable
                                    , -1, Microsoft.AspNetCore.Components.EventCallback.Factory.Create(this,
                                    Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.CreateInferredEventCallback(this, __value => Filters.MaxCookingTime = __value, Filters.MaxCookingTime)));
#nullable restore
#line 85 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
        __o = typeof(MudNumericField<>);

#line default
#line hidden
#nullable disable
        }
                                ));
#nullable restore
#line 84 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
__o = typeof(MudItem);

#line default
#line hidden
#nullable disable
                            }
                            ));
#nullable restore
#line 78 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
    __o = typeof(MudExpansionPanel);

#line default
#line hidden
#nullable disable
                        }
                        ));
#nullable restore
#line 23 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
    __o = typeof(MudExpansionPanels);

#line default
#line hidden
#nullable disable
                    }
                    ));
#nullable restore
#line 21 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
    __o = typeof(MudForm);

#line default
#line hidden
#nullable disable
                }
                ));
#nullable restore
#line 20 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
    __o = typeof(MudPaper);

#line default
#line hidden
#nullable disable
            }
            ));
#nullable restore
#line 13 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
    __o = typeof(MudItem);

#line default
#line hidden
#nullable disable
    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 93 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
             12

#line default
#line hidden
#nullable disable
            );
    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 93 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                     9

#line default
#line hidden
#nullable disable
            );
    __builder.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder2) => {
#nullable restore
#line 94 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
        if (!Loaded)
        {




#line default
#line hidden
#nullable disable
            __builder2.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder3) => {
            }
            ));
#nullable restore
#line 98 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
            __o = typeof(Loader);

#line default
#line hidden
#nullable disable
#nullable restore
#line 98 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"



        }
        else
        {


#line default
#line hidden
#nullable disable
            __builder2.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder3) => {
#nullable restore
#line 105 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                if (FilteredRecipes.Count == 0)
                {


#line default
#line hidden
#nullable disable
                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Typo>(
#nullable restore
#line 107 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                               Typo.h3

#line default
#line hidden
#nullable disable
                    );
                    __builder3.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder4) => {
                    }
                    ));
#nullable restore
#line 107 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                    __o = typeof(MudText);

#line default
#line hidden
#nullable disable
#nullable restore
#line 107 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

                }

#line default
#line hidden
#nullable disable
#nullable restore
#line 109 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                foreach (var recipe in pageRecipes)
                {


#line default
#line hidden
#nullable disable
                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 111 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                             12

#line default
#line hidden
#nullable disable
                    );
                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 111 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                     4

#line default
#line hidden
#nullable disable
                    );
                    __builder3.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder4) => {
                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 113 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                        2

#line default
#line hidden
#nullable disable
                        );
                        __builder4.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder5) => {
                            __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 114 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                               _imageReader.ReadImageData(recipe.Image.ImageData, recipe.Image.ContentType)

#line default
#line hidden
#nullable disable
                            );
                            __builder5.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder6) => {
                            }
                            ));
#nullable restore
#line 114 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                            __o = typeof(MudCardMedia);

#line default
#line hidden
#nullable disable
                            __builder5.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder6) => {
                                __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
#nullable restore
#line 117 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = recipe.Name;

#line default
#line hidden
#nullable disable
                                }
                                ));
#nullable restore
#line 117 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                __o = typeof(MudText);

#line default
#line hidden
#nullable disable
                                __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Typo>(
#nullable restore
#line 118 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                           Typo.caption

#line default
#line hidden
#nullable disable
                                );
                                __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
#nullable restore
#line 118 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = recipe.Author.ScreenName;

#line default
#line hidden
#nullable disable
                                }
                                ));
#nullable restore
#line 118 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                __o = typeof(MudText);

#line default
#line hidden
#nullable disable
                                __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
#nullable restore
#line 119 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = recipe.CookingTime;

#line default
#line hidden
#nullable disable
                                }
                                ));
#nullable restore
#line 119 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                __o = typeof(MudText);

#line default
#line hidden
#nullable disable
                                __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
#nullable restore
#line 120 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = recipe.Servings;

#line default
#line hidden
#nullable disable
                                }
                                ));
#nullable restore
#line 120 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                __o = typeof(MudText);

#line default
#line hidden
#nullable disable
#nullable restore
#line 121 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                if (recipe.Ratings.Count > 1)
                                {



#line default
#line hidden
#nullable disable
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Boolean>(
#nullable restore
#line 124 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                     true

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 124 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                           Convert.ToInt32(recipe.AvgRating)

#line default
#line hidden
#nullable disable
                                );
                                    __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                    }
                                    ));
#nullable restore
#line 124 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = typeof(MudRating);

#line default
#line hidden
#nullable disable
#nullable restore
#line 124 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

                                }

#line default
#line hidden
#nullable disable
#nullable restore
#line 126 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                if (!string.IsNullOrWhiteSpace(recipe.RecipeSource))
                                {


#line default
#line hidden
#nullable disable
#nullable restore
#line 128 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    if (!string.IsNullOrWhiteSpace(recipe.RecipeSourceUrl))
                                    {


#line default
#line hidden
#nullable disable
                                        __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                            __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 133 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                        recipe.RecipeSourceUrl

#line default
#line hidden
#nullable disable
                                    );
                                            __builder7.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder8) => {
#nullable restore
#line 133 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                __o = recipe.RecipeSource;

#line default
#line hidden
#nullable disable
                                            }
                                            ));
#nullable restore
#line 133 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                            __o = typeof(MudLink);

#line default
#line hidden
#nullable disable
                                        }
                                        ));
#nullable restore
#line 130 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                        __o = typeof(MudText);

#line default
#line hidden
#nullable disable
#nullable restore
#line 134 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

                                    }
                                    else
                                    {


#line default
#line hidden
#nullable disable
                                        __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
#nullable restore
#line 138 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                            __o = recipe.RecipeSource;

#line default
#line hidden
#nullable disable
                                        }
                                        ));
#nullable restore
#line 138 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                        __o = typeof(MudText);

#line default
#line hidden
#nullable disable
#nullable restore
#line 138 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

                                    }

#line default
#line hidden
#nullable disable
#nullable restore
#line 139 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

                                }

#line default
#line hidden
#nullable disable
                            }
                            ));
#nullable restore
#line 115 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                            __o = typeof(MudCardContent);

#line default
#line hidden
#nullable disable
                            __builder5.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder6) => {
#nullable restore
#line 143 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                if (userId == recipe.AuthorId)
                                {



#line default
#line hidden
#nullable disable
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Variant>(
#nullable restore
#line 146 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                        Variant.Filled

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Color>(
#nullable restore
#line 146 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                               Color.Warning

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 146 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                     Icons.Material.Filled.Edit

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 146 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                        $"/recipes/edit/{recipe.Id}"

#line default
#line hidden
#nullable disable
                                );
                                    __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                    }
                                    ));
#nullable restore
#line 146 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = typeof(MudIconButton);

#line default
#line hidden
#nullable disable


                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Variant>(
#nullable restore
#line 147 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                        Variant.Filled

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Color>(
#nullable restore
#line 147 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                               Color.Error

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 147 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                   Icons.Material.Filled.Delete

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<Microsoft.AspNetCore.Components.EventCallback<Microsoft.AspNetCore.Components.Web.MouseEventArgs>>(Microsoft.AspNetCore.Components.EventCallback.Factory.Create<Microsoft.AspNetCore.Components.Web.MouseEventArgs>(this,
#nullable restore
#line 147 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                          ()=>DeleteRecipe(recipe)

#line default
#line hidden
#nullable disable
                                ));
                                    __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                    }
                                    ));
#nullable restore
#line 147 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = typeof(MudIconButton);

#line default
#line hidden
#nullable disable


                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Variant>(
#nullable restore
#line 148 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                        Variant.Filled

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Color>(
#nullable restore
#line 148 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                               Color.Primary

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 148 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                     Icons.Material.Filled.CalendarToday

#line default
#line hidden
#nullable disable
                                );
                                    __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<Microsoft.AspNetCore.Components.EventCallback<Microsoft.AspNetCore.Components.Web.MouseEventArgs>>(Microsoft.AspNetCore.Components.EventCallback.Factory.Create<Microsoft.AspNetCore.Components.Web.MouseEventArgs>(this,
#nullable restore
#line 148 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                     ()=>AddMeal(recipe)

#line default
#line hidden
#nullable disable
                                ));
                                    __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                    }
                                    ));
#nullable restore
#line 148 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = typeof(MudIconButton);

#line default
#line hidden
#nullable disable
#nullable restore
#line 148 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

                                }
                                else
                                {


#line default
#line hidden
#nullable disable
                                    __o = "";
                                    __builder6.AddAttribute(-1, "Authorized", (Microsoft.AspNetCore.Components.RenderFragment<Microsoft.AspNetCore.Components.Authorization.AuthenticationState>)((context) => (__builder7) => {
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Variant>(
#nullable restore
#line 154 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                Variant.Filled

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Color>(
#nullable restore
#line 154 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                       Color.Warning

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 154 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                             Icons.Material.Filled.Edit

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 154 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                $"/recipes/edit/{recipe.Id}"

#line default
#line hidden
#nullable disable
                                    );
                                        __builder7.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder8) => {
                                        }
                                        ));
#nullable restore
#line 154 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                        __o = typeof(MudIconButton);

#line default
#line hidden
#nullable disable
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Variant>(
#nullable restore
#line 155 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                Variant.Filled

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Color>(
#nullable restore
#line 155 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                       Color.Error

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 155 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                           Icons.Material.Filled.Delete

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<Microsoft.AspNetCore.Components.EventCallback<Microsoft.AspNetCore.Components.Web.MouseEventArgs>>(Microsoft.AspNetCore.Components.EventCallback.Factory.Create<Microsoft.AspNetCore.Components.Web.MouseEventArgs>(this,
#nullable restore
#line 155 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                  ()=>DeleteRecipe(recipe)

#line default
#line hidden
#nullable disable
                                    ));
                                        __builder7.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder8) => {
                                        }
                                        ));
#nullable restore
#line 155 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                        __o = typeof(MudIconButton);

#line default
#line hidden
#nullable disable
                                    }
                                    ));
#nullable restore
#line 152 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = typeof(AuthorizeView);

#line default
#line hidden
#nullable disable


                                    __builder6.AddAttribute(-1, "Authorized", (Microsoft.AspNetCore.Components.RenderFragment<Microsoft.AspNetCore.Components.Authorization.AuthenticationState>)((context) => (__builder7) => {
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Variant>(
#nullable restore
#line 162 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                Variant.Filled

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Color>(
#nullable restore
#line 162 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                       Color.Primary

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 162 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                             Icons.Material.Filled.CalendarToday

#line default
#line hidden
#nullable disable
                                    );
                                        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<Microsoft.AspNetCore.Components.EventCallback<Microsoft.AspNetCore.Components.Web.MouseEventArgs>>(Microsoft.AspNetCore.Components.EventCallback.Factory.Create<Microsoft.AspNetCore.Components.Web.MouseEventArgs>(this,
#nullable restore
#line 162 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                                                                             ()=>AddMeal(recipe)

#line default
#line hidden
#nullable disable
                                    ));
                                        __builder7.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder8) => {
                                        }
                                        ));
#nullable restore
#line 162 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                        __o = typeof(MudIconButton);

#line default
#line hidden
#nullable disable
                                    }
                                    ));
#nullable restore
#line 159 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                    __o = typeof(AuthorizeView);

#line default
#line hidden
#nullable disable
#nullable restore
#line 164 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

                                }

#line default
#line hidden
#nullable disable
                                __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.String>(
#nullable restore
#line 166 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                             $"/recipes/details/{recipe.Id}"

#line default
#line hidden
#nullable disable
                                );
                                __builder6.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder7) => {
                                }
                                ));
#nullable restore
#line 166 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                __o = typeof(MudLink);

#line default
#line hidden
#nullable disable
                            }
                            ));
#nullable restore
#line 142 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                            __o = typeof(MudCardActions);

#line default
#line hidden
#nullable disable
                        }
                        ));
#nullable restore
#line 113 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                        __o = typeof(MudCard);

#line default
#line hidden
#nullable disable
                    }
                    ));
#nullable restore
#line 111 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                    __o = typeof(MudItem);

#line default
#line hidden
#nullable disable
#nullable restore
#line 169 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"


                }

#line default
#line hidden
#nullable disable
            }
            ));
#nullable restore
#line 104 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
            __o = typeof(MudGrid);

#line default
#line hidden
#nullable disable
#nullable restore
#line 172 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"

        }

#line default
#line hidden
#nullable disable
        __builder2.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder3) => {
        }
        ));
#nullable restore
#line 174 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
        __o = typeof(MudDivider);

#line default
#line hidden
#nullable disable
        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Boolean>(
#nullable restore
#line 175 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                true

#line default
#line hidden
#nullable disable
                );
        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<MudBlazor.Variant>(
#nullable restore
#line 175 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                               Variant.Text

#line default
#line hidden
#nullable disable
                );
        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<Microsoft.AspNetCore.Components.EventCallback<System.Int32>>(Microsoft.AspNetCore.Components.EventCallback.Factory.Create<System.Int32>(this,
#nullable restore
#line 175 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                              (int p)=>ChangePage(p)

#line default
#line hidden
#nullable disable
                ));
        __o = Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck<System.Int32>(
#nullable restore
#line 175 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
                                                                                                              pageCount

#line default
#line hidden
#nullable disable
                );
        __builder2.AddAttribute(-1, "ChildContent", (Microsoft.AspNetCore.Components.RenderFragment)((__builder3) => {
        }
        ));
#nullable restore
#line 175 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
        __o = typeof(MudPagination);

#line default
#line hidden
#nullable disable
    }
    ));
#nullable restore
#line 93 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
    __o = typeof(MudItem);

#line default
#line hidden
#nullable disable
        }
        #pragma warning restore 1998
#nullable restore
#line 177 "F:\CoderFoundry\Code\MasterMealWA\MasterMealWA\Client\Pages\RecipePages\RecipeIndex.razor"
       
    [Parameter]
    public string mine { get; set; }
    public Filter Filters { get; set; } = new();
    private List<Recipe> AllRecipes;
    private List<Recipe> FilteredRecipes;
    private List<Recipe> pageRecipes { get; set; }
    private List<RecipeTag> RecipeTypes { get; set; }
    private bool mySupplies { get; set; }
    private bool myRecipes { get; set; }
    private bool timeFilter { get; set; }
    private int minTime { get; set; } = 1;
    private int maxTime { get; set; } = 60;
    private int? activeRating;
    private int pageCount { get; set; } = 0;
    private string userId { get; set; }
    public bool Auth { get; set; }
    public Color BadgeColor(CategoryType type)
    {
        if (type == CategoryType.Nationality)
        {
            return Color.Primary;
        }
        if (type == CategoryType.Protein)
        {
            return Color.Secondary;
        }
        return Color.Tertiary;

    }
    public bool Loaded { get; set; } = false;
    private void HandleHoveredValueChanged(int? val) => activeRating = val;
    public async Task AddMeal(Recipe recipe)
    {
        var parameters = new DialogParameters { ["recipe"] = recipe };
        var dialog = _dialogService.Show<MealCreate>("Schedule Meal", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            snackbar.Add("Meal planned!");
        }
    }
    private string RatingText => (activeRating ?? Filters.LowestRating) switch
    {
        1 => "1 Star or more",
        2 => "2 Stars or more",
        3 => "3 Stars or more",
        4 => "4 Stars or more",
        5 => "5 Stars",
        _ => "Any Rating"
    };
    protected override async Task OnParametersSetAsync()
    {
        mine = mine ?? "";
        await GetRecipesAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        userId = await _userService.GetUserIdAsync();
        Auth = !string.IsNullOrEmpty(userId);
        mine = mine ?? "";
        var options = new JsonSerializerOptions()
        {
            ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve,
            PropertyNamingPolicy = null
        };
        await GetRecipesAsync();
        ChangePage(1);
        RecipeTypes = await _api.GetAllTagsAsync();
        base.OnInitialized();
        Loaded = true;
    }
    private void FilterRecipes()
    {
        FilteredRecipes = _filterService.ApplyFilter(AllRecipes, Filters,userId);
        pageCount = (FilteredRecipes.Count / 6) + 1;
        ChangePage(1);
    }
    private async Task GetRecipesAsync()
    {
        if (mine.ToLower() == "myrecipes")
        {

            AllRecipes = await _api.GetMyRecipesAsync();
            FilteredRecipes = AllRecipes;
        }
        else
        {

            AllRecipes = await _api.GetAllRecipesAsync(Auth);
            FilteredRecipes = AllRecipes;
        }
        pageCount = (FilteredRecipes.Count / 6) + 1;
    }
    private void ChangePage(int page)
    {
        pageRecipes = FilteredRecipes.OrderBy(r => r.Id).Skip((page - 1) * 6).Take(6).ToList();
    }
    public async Task DeleteRecipe(Recipe recipe)
    {
        var parameters = new DialogParameters { ["recipe"] = recipe };
        var dialog = _dialogService.Show<RecipeDelete>("Are you sure you want to delete this recipe?", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            Loaded = false;
            await GetRecipesAsync();
            Loaded = true;
        }
    }
}
