@page "/recipes/edit/{Id}"
@inject HttpClient Http
@inject IApiService _api
@inject NavigationManager nav
@inject IUserService _userService
@inject IDialogService _dialogService
@inject IImageReader _imageReader
@attribute [Authorize]
@using System.Net.Http.Headers
@using MasterMealWA.Shared.Models.Dtos
@if (recipe is null)
{
    <Loader></Loader>

}
else
{
    <EditForm Model="@recipe" OnValidSubmit="UpdateRecipeAsync">
        <DataAnnotationsValidator />
        <MudGrid>

            <MudItem xs="12">

                <MudText Typo="Typo.h3">Recipe Create</MudText>
                <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Save Recipe</MudButton>

            </MudItem>
            <MudItem xs="12" sm="6" md="4">

                <MudCard>
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">

                                <MudTextField Label="Title" HelperText="The name of the recipe" @bind-Value="recipe.Name" For="@(()=> recipe.Name)" />
                            </MudItem>
                            <MudItem xs="12">

                                <MudTextField Label="Description" HelperText="The description of the recipe" @bind-Value="recipe.Description" For="@(()=> recipe.Description)" />
                            </MudItem>
                            <MudItem xs="12">

                                <InputFile id="fileInput" OnChange="UploadFiles" hidden />
                                <MudFab HtmlTag="label"
                                        Color="Color.Secondary"
                                        Icon="@Icons.Filled.Image"
                                        Label="Upload Image"
                                        for="fileInput" />

                                <MudCard>
                                    @if (!imageLoading)
                                    {

                                    <MudCardMedia Image="@(imageString)">
                                    </MudCardMedia>
                                    }
                                            else
                                            {
                                                <Loader></Loader>
                                            }
                                </MudCard>
                                <MudButton Color="Color.Warning" Variant="Variant.Filled" OnClick="ResetImage">Reset to default Image</MudButton>
                            </MudItem>
                            <MudItem xs="12">

                                <MudTextField Label="Source" HelperText="Where did you get the recipe?  (if its personal, leave blank)" @bind-Value="recipe.RecipeSource" For="@(()=> recipe.RecipeSource)" />
                            </MudItem>
                            <MudItem xs="12">

                                <MudTextField Label="Source Link" HelperText="Link to the page you found this recipe on.  Please prefix with https://" @bind-Value="recipe.RecipeSourceUrl" For="@(()=> recipe.RecipeSourceUrl)" />
                            </MudItem>
                            <MudItem xs="6">

                                <MudNumericField Label="Cooking Time" Min="15" Max="90" HelperText="Estimated minutes to cook recipe" @bind-Value="recipe.CookingTime" For="@(()=> recipe.CookingTime)" />
                            </MudItem>
                            <MudItem xs="6">

                                <MudNumericField Label="Servings" HelperText="How many people the recipe Serves" Max="8" Min="1" @bind-Value="recipe.Servings" For="@(()=> recipe.Servings)" />
                            </MudItem>
                            @if (Tags == null)
                            {
                                <p>loading...</p>}
                            else
                            {
                                <MudItem xs="12">

                                    <MudChipSet MultiSelection="true" @bind-SelectedChips="recipeTags" Filter="true">

                                        @foreach (RecipeTag tag in Tags.OrderBy(t => t.Category))
                                        {
                                            <MudChip Color="BadgeColor(tag.Category)" Default="@RecipeHasTag(tag)" Tag="tag">@tag.Name</MudChip>
                                        }
                                    </MudChipSet>
                                </MudItem>
                            }
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
                <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Save Recipe</MudButton>

            </MudItem>
            <MudItem xs="12" sm="6" md="4">

                <MudCard>
                    <MudCardHeader>Ingredients</MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            <MudFab OnClick="NewIngredient" Color="Color.Success" Icon="@Icons.Material.Filled.FiberNew" Label="Add ingredient not in list"></MudFab>
                            @foreach (var ingredient in recipe.Ingredients)
                            {
                                <MudItem xs="12">

                                    <MudCard Elevation="2">
                                        <MudCardContent>

                                            <QIngredientCreate qIngredient="@ingredient" ingredientList="Ingredients" />
                                        </MudCardContent>
                                        <MudCardActions>

                                            <MudButton Color="Color.Error" Variant="Variant.Filled" @onclick="@(()=>RemoveIngredient(ingredient))">Remove</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                            <MudItem>

                                <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="()=>recipe.Ingredients.Add(new())" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
                <MudCard>
                    <MudCardHeader>Supplies</MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            <MudFab OnClick="NewSupply" Color="Color.Success" Icon="@Icons.Material.Filled.FiberNew" Label="Add supply not in list"></MudFab>
                            @foreach (var supply in recipe.Supplies)
                            {
                                <MudItem xs="12">

                                    <MudCard Elevation="2">
                                        <MudCardContent>

                                            <SupplyPicker supply="supply" supplyList="supplyList"></SupplyPicker>
                                        </MudCardContent>
                                        <MudCardActions>

                                            <MudButton Color="Color.Error" Variant="Variant.Filled" @onclick="@(()=>RemoveSupply(supply))">Remove</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                            <MudItem>

                                <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="()=>recipe.Supplies.Add(new())" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardHeader>Steps</MudCardHeader>
                    <MudCardContent>
                        <MudGrid>

                            @foreach (var step in recipe.Steps.OrderBy(s => s.StepNumber))
                            {
                                <MudItem xs="12">
                                    <MudCard Elevation="2">
                                        <MudCardContent>

                                            <StepCreate step="step" stepmax="recipe.Steps.Count"></StepCreate>
                                        </MudCardContent>
                                        <MudCardActions>

                                            <MudButton Color="Color.Error" Variant="Variant.Filled" @onclick="@(()=>RemoveStep(step))">Remove</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                            <MudItem>

                                <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="()=>recipe.Steps.Add(new(){StepNumber=recipe.Steps.Count+1 })" />
                            </MudItem>
                        </MudGrid>

                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
}
@code{
    [Parameter]
    public string Id { get; set; }
    public Recipe recipe { get; set; }
    private MultipartFormDataContent imageFormContent { get; set; }
    public DBImage image { get; set; }
    public List<RecipeTag> Tags { get; set; }
    public List<Ingredient> Ingredients { get; set; }
    public List<QIngredient> RemovedIngredients { get; set; } = new();
    public List<QSupply> RemovedSupplies { get; set; } = new();
    public List<Step> RemovedSteps { get; set; } = new();
    public List<Supply> supplyList { get; set; }
    public MudChip[] recipeTags { get; set; }
    public bool ImageReset { get; set; }
    public bool ImageChange { get; set; }
    public int ImgId { get; set; }
    public string imageString { get; set; }
    public bool imageLoading { get; set; }
    protected override async Task OnInitializedAsync()
    {
        recipe = await _api.GetAsync<Recipe>($"api/recipes/{Convert.ToInt32(Id)}");
        if (recipe.AuthorId != await _userService.GetUserIdAsync() && !(await _userService.IsModeratorAsync()))
        {
            nav.NavigateTo("recipes");
        }
        image = recipe.Image;
        imageString = _imageReader.ReadImageData(image.ImageData, image.ContentType);
        Tags = await _api.GetAsync<List<RecipeTag>>("api/recipeTags");
        Ingredients = await _api.GetAsync<List<Ingredient>>("api/ingredients");
        supplyList = await _api.GetAsync<List<Supply>>("api/Supplies");
    }
    public Color BadgeColor(CategoryType type)
    {
        if (type == CategoryType.Nationality)
        {
            return Color.Primary;
        }
        if (type == CategoryType.Protein)
        {
            return Color.Secondary;
        }
        return Color.Tertiary;

    }
    public void RemoveStep(Step step)
    {
        if (step.Id != 0)
        {
            RemovedSteps.Add(step);
        }
        recipe.Steps.Remove(step);
    }
    public void RemoveSupply(QSupply supply)
    {
        if (supply.Id != 0)
        {
            RemovedSupplies.Add(supply);
        }
        recipe.Supplies.Remove(supply);
    }
    public void RemoveIngredient(QIngredient ingredient)
    {
        if (ingredient.Id != 0)
        {
            RemovedIngredients.Add(ingredient);
        }
        recipe.Ingredients.Remove(ingredient);
    }
    public bool RecipeHasTag(RecipeTag tag)
    {
        if (recipe.Tags.Where(t => t.Id == tag.Id).Count() > 0)
        {
            return true;
        }
        return false;
    }
    private async Task ResetImage()
    {
        if (image is null)
        {
            return;
        }
        var parameters = new DialogParameters { ["recipe"] = recipe };
        var dialog = _dialogService.Show<ImageRecipeReset>("Are you sure?", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            image = await _api.GetAsync<DBImage>("api/dbimages/1");
            imageString = _imageReader.ReadImageData(image.ImageData, image.ContentType);

            ImageReset = true;
        };
    }
    public async Task UpdateRecipeAsync()
    {
        foreach (var ing in recipe.Ingredients)
        {
            ing.Ingredient = null;
        }
        foreach (var sup in recipe.Supplies)
        {
            sup.Supply = null;
        }
        var Tags = recipeTags.Select(r => (RecipeTag)r.Tag).ToList();
        var fakeRecipe = recipe;
        RecipeEditDto dto = new()
        {
            SuppliesToRemove = RemovedSupplies,
            StepsToRemove = RemovedSteps,
            IngredientsToRemove = RemovedIngredients,
            Recipe = fakeRecipe,
            RecipeTags = Tags,
            Id = recipe.Id,
            ResetImage = ImageReset,
            ImageChanged = ImageChange
        };
        try
        {

            await _api.UpdateAsync<RecipeEditDto>($"api/recipes/{recipe.Id}", dto);
            _snackbar.Add("Recipe Updated", Severity.Success);
            nav.NavigateTo($"/recipes/details/{recipe.Id}");
        }
        catch (Exception e)
        {
            _snackbar.Add($"Update failed {e.Message}", Severity.Error);
        }

    }
    public async Task NewIngredient()
    {
        var dialog = _dialogService.Show<IngredientCreate>
    ("New Ingredient");
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            Ingredients = await _api.GetAsync<List<Ingredient>>("api/ingredients");
        }
    }
    public async Task NewSupply()
    {
        var dialog = _dialogService.Show<SupplyCreate>
            ("New Supply");
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            supplyList = await _api.GetAsync<List<Supply>>("api/supplies");
        }
    }
    public IBrowserFile file;
    private async Task UploadFiles(InputFileChangeEventArgs e)
    {

        file = e.File;
        if (file != null)
        {
            var resizedFile = await file.RequestImageFileAsync("image/png", 1000, 1000);

            using (var ms = resizedFile.OpenReadStream(resizedFile.Size))
            {
                imageFormContent = new MultipartFormDataContent();
                imageFormContent.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
                imageFormContent.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", file.Name);

                try
                {
                    imageLoading = true;
                    StateHasChanged();
                    image = await _api.GetPreviewImage("/api/dbimages/tempimage", imageFormContent);
                    _snackbar.Add("Image Updated", Severity.Success);
                    imageString = _imageReader.ReadImageData(image.ImageData, image.ContentType);
                    recipe.Image = image;
                    StateHasChanged();
                    ImageChange = true;
                    ImageReset = false;
                    imageLoading = false;

                }
                catch (Exception ex)
                {
                    _snackbar.Add($"Image Failed to update {ex.Message}", Severity.Error);
                    imageLoading = false;
                }
            }
        }
    }
}
