@page "/recipes/edit/{id}"
@inject HttpClient Http
@inject IApiService _api
@inject NavigationManager nav
@inject IUserService _userService
@using System.Net.Http.Headers
@using MasterMealWA.Shared.Models.Dtos
@if (recipe is null)
{
    <MudText>Loading...</MudText>
}
else
{
    <EditForm Model="@recipe" OnValidSubmit="UpdateRecipeAsync">
        <DataAnnotationsValidator />
        <MudGrid>

            <MudItem xs="12">

                <MudText Typo="Typo.h3">Recipe Create</MudText>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">

                <MudCard>
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">

                                <MudTextField Label="Title" HelperText="The name of the recipe" @bind-Value="recipe.Name" For="@(()=> recipe.Name)" />
                            </MudItem>
                            <MudItem xs="12">

                                <MudTextField Label="Description" HelperText="The description of the recipe" @bind-Value="recipe.Description" For="@(()=> recipe.Description)" />
                            </MudItem>
                            <MudItem xs="12">

                                <InputFile id="fileInput" OnChange="UploadFiles" hidden />
                                <MudFab HtmlTag="label"
                                        Color="Color.Secondary"
                                        Icon="@Icons.Filled.Image"
                                        Label="Load picture"
                                        for="fileInput" />
                                @if (files != null)
                                {
                                    <MudText Typo="@Typo.h6">@files.Count() File@(files.Count() == 1 ? "" : "s"):</MudText>
                                    <MudList>
                                        @foreach (var file in files)
                                        {
                                            <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                                                @file.Name <code>@file.Size bytes</code>
                                            </MudListItem>
                                        }
                                    </MudList>
                                }
                            </MudItem>
                            <MudItem xs="12">

                                <MudTextField Label="Source" HelperText="Where did you get the recipe?  (if its personal, leave blank)" @bind-Value="recipe.RecipeSource" For="@(()=> recipe.RecipeSource)" />
                            </MudItem>
                            <MudItem xs="12">

                                <MudTextField Label="Source Link" HelperText="Link to the page you found this recipe on.  Please prefix with https://" @bind-Value="recipe.RecipeSourceUrl" For="@(()=> recipe.RecipeSourceUrl)" />
                            </MudItem>
                            <MudItem xs="6">

                                <MudNumericField Label="Cooking Time" Min="15" Max="90" HelperText="Estimated minutes to cook recipe" @bind-Value="recipe.CookingTime" For="@(()=> recipe.CookingTime)" />
                            </MudItem>
                            <MudItem xs="6">

                                <MudNumericField Label="Servings" HelperText="How many people the recipe Serves" Max="8" Min="1" @bind-Value="recipe.Servings" For="@(()=> recipe.Servings)" />
                            </MudItem>
                            @if (Tags == null)
                            {
                                <p>loading...</p>}
                            else
                            {
                                <MudItem xs="12">

                                    <MudChipSet MultiSelection="true" @bind-SelectedChips="recipeTags" Filter="true">

                                        @foreach (RecipeTag tag in Tags)
                                        {
                                            <MudChip Tag="tag">@tag.Name</MudChip>
                                        }
                                    </MudChipSet>
                                </MudItem>
                            }
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">

                <MudCard>
                    <MudCardHeader>Ingredients</MudCardHeader>
                    <MudCardContent>
                        <MudGrid>

                            @foreach (var ingredient in recipe.Ingredients)
                            {
                                <MudItem xs="12">

                                    <MudCard Elevation="2">
                                        <MudCardContent>

                                            <QIngredientCreate qIngredient="@ingredient" ingredientList="ingredients" />
                                        </MudCardContent>
                                        <MudCardActions>

                                            <MudButton Color="Color.Error" @onclick="(()=>recipe.Ingredients.Remove(ingredient))">Remove</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                            <MudItem>

                                <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="()=>recipe.Ingredients.Add(new())" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
                <MudCard>
                    <MudCardHeader>Supplies</MudCardHeader>
                    <MudCardContent>
                        <MudGrid>

                            @foreach (var supply in recipe.Supplies)
                            {
                                <MudItem xs="12">

                                    <MudCard Elevation="2">
                                        <MudCardContent>

                                            <SupplyPicker supply="supply" supplyList="supplyList"></SupplyPicker>
                                        </MudCardContent>
                                        <MudCardActions>

                                            <MudButton Color="Color.Error" @onclick="(()=>recipe.Supplies.Remove(supply))">Remove</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                            <MudItem>

                                <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="()=>recipe.Supplies.Add(new())" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardHeader>Steps</MudCardHeader>
                    <MudCardContent>
                        <MudGrid>

                            @foreach (var step in recipe.Steps)
                            {
                                <MudItem xs="12">
                                    <MudCard Elevation="2">
                                        <MudCardContent>

                                            <StepCreate step="step"></StepCreate>
                                        </MudCardContent>
                                        <MudCardActions>

                                            <MudButton Color="Color.Error" @onclick="(()=>recipe.Steps.Remove(step))">Remove</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                            <MudItem>

                                <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="()=>recipe.Steps.Add(new())" />
                            </MudItem>
                        </MudGrid>

                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save Recipe</MudButton>
    </EditForm>
}
@code{
    [Parameter]
    public string id { get; set; }
    public Recipe recipe { get; set; } = new();
    public List<RecipeTag> Tags { get; set; }
    public List<Ingredient> ingredients { get; set; }
    public List<Supply> supplyList { get; set; }
    public MudChip[] recipeTags { get; set; }
    public int ImgId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        recipe = await _api.GetRecipeAsync(Convert.ToInt32(id));
        if (recipe.AuthorId != await _userService.GetUserIdAsync())
        {
            nav.NavigateTo("recipes");
        }
        Tags = await _api.GetAllRecipeTypesAsync();
        ingredients = await _api.GetAllIngredientsAsync();
        supplyList = await _api.GetAllSuppliesAsync();
    }
    public async Task UpdateRecipeAsync()
    {
        var Tags = recipeTags.Select(r => (RecipeTag)r.Tag).ToList();
        var fakeRecipe = recipe;
        RecipeEditDto dto = new()
        {
            Recipe = fakeRecipe,
            RecipeTags = Tags,
            Id = recipe.Id,
        };
        await _api.UpdateRecipeAsync(dto);
        nav.NavigateTo($"/recipes/details/{recipe.Id}");
    }
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private async Task UploadFiles(InputFileChangeEventArgs e)
    {

        var imageFiles = e.GetMultipleFiles();
        foreach (var imageFile in imageFiles)
        {
            if (imageFile != null)
            {
                var resizedFile = await imageFile.RequestImageFileAsync("image/png", 1000, 1000);

                using (var ms = resizedFile.OpenReadStream(resizedFile.Size))
                {
                    var content = new MultipartFormDataContent();
                    content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
                    content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", imageFile.Name);
                    ImgId = await _api.UploadImageAsync(content);
                    //await OnChange.InvokeAsync(ImgUrl);
                }
            }
        }
    }
}